<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>天天生鲜-购物车</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/reset.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'css/main.css' %}>
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到天天生鲜!</div>
        <div class="fr">
            <div class="login_info fl">
                {% if user.is_authenticated %}
                    <div class="login_btn fl">
                        欢迎您：<em>{{ user.username }}</em>
                        <span>|</span>
                        <a href={% url 'user:logout' %}>退出</a>
                    </div>
                {% else %}
                    <div class="login_btn fl">
                        <a href={% url 'user:login' %}>登录</a>
                        <span>|</span>
                        <a href={% url 'user:register' %}>注册</a>
                    </div>
                {% endif %}
                <div class="user_link fl">
                    <span>|</span>
                    <a href="user_center_info.html">用户中心</a>
                    <span>|</span>
                    <a href="cart.html">我的购物车</a>
                    <span>|</span>
                    <a href="user_center_order.html">我的订单</a>
                </div>
            </div>
        </div>
    </div>

    <div class="search_bar clearfix">
        <a href="index.html" class="logo fl"><img src= {% static 'images/logo.png' %}></a>
        <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
        <div class="search_con fr">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
    </div>

    <div class="total_count">全部商品<em>2</em>件</div>
    <ul class="cart_list_th clearfix">
        <li class="col01">商品名称</li>
        <li class="col02">商品单位</li>
        <li class="col03">商品价格</li>
        <li class="col04">数量</li>
        <li class="col05">小计</li>
        <li class="col06">操作</li>
    </ul>
    <form action="{% url 'order:place' %}" method="post">
        {% for sku in skus %}
            <ul class="cart_list_td clearfix">
                <li class="col01"><input type="checkbox" name="sku_ids" value="{{ sku.id }}" checked></li>
                <li class="col02"><img src={{ sku.image.url }}></li>
                <li class="col03">{{ sku.name }}<br></li>
                <li class="col04">{{ sku.unice }}</li>
                <li class="col05">{{ sku.price }}元</li>
                <li class="col06">
                    <div class="num_add">
                        <a href="javascript:;" class="add fl">+</a>
                        <input type="text" class="num_show fl" value="{{ sku.count }}">
                        <a href="javascript:;" class="minus fl">-</a>
                    </div>
                </li>
                <li class="col07">{{ sku.amount }}元</li>
                <li class="col08"><a href="javascript:;">删除</a></li>
            </ul>
        {% endfor %}
        <ul class="settlements">
            {% csrf_token %}
            <li class="col01"><input type="checkbox" name="" checked=""></li>
            <li class="col02">全选</li>
            <li class="col03">合计(不含运费)：<span>¥</span><em>{{ total_price }}</em><br>共计<b>{{ total_count }}</b>件商品</li>
            <li class="col04"><input type="submit" value="去结算"></li>
        </ul>
    </form>

    <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
        <p>电话：010-****888 京ICP备*******8号</p>
    </div>
</div>

</body>
<script type="text/javascript" src={% static "js/jquery-1.12.4.min.js" %}></script>
<script type="text/javascript">
    function update_page_info() {


        //计算被选中的物品的总样数和价格
        //获取所有被选中的商品的ul元素
        total_count = 0
        total_price = 0
        $('.cart_list_td').find(':checked').parents('ul').each(function () {
            //获取商品的总样数和总价格
            count = $(this).find('.num_show').val()
            amount = $(this).children('.col07').text()
            //累加计算商品的总样书和总价格
            count = parseInt(count)
            amount = parseFloat(amount)
            total_count += count
            total_price += amount

        })
        //设置被选中的商品的总件数和总价格
        $('.settlements').find('em').text(total_price.toFixed(2))
        $('.settlements').find('b').text(total_count)

    }

    //计算商品的小计
    function update_goods_amount(sku_ul) {
        //获取商品的价格和数量
        count = sku_ul.find('.num_show').val()
        price = sku_ul.children('.col05').text()
        //计算商品的小计
        amount = parseInt(count) * parseFloat(price)
        //设置商品的小计
        sku_ul.children('.col07').text(amount.toFixed(2) + '元')
    }

    //商品的全选和全不选
    $('.settlements').find(':checked').change(function () {
        //获取全选的checkbox的选中状态
        is_checkde = $(this).prop('checked')
        //alert(is_checked)
        //遍历商品的对应checkbox。这只这些checkbox的选中状态和全选的checkbox保持一致
        $('.cart_list_td').find(':checked').each(function () {
            $(this).prop('checked', is_checkde)

        })
        //更新页面的信息
        update_page_info()
    })
    //商品对应的checkbox状态发生改变时，设置全选checkbox的状态
    $('.cart_list_td').find(':checked').change(function () {
        //获取页面上被选中的商品数目
        all_len = $('.cart_list_td').length
        //获取页面上所有商品的数目
        checked_len = $('.cart_list_td').find(':checked', is_checkde)
        //更新页面信息
        update_page_info()
    })
    //更新购物车中的商品数量
    error_update = false
    total = 0

    function update_remore_cart_info(sku_id, count) {
        csrf = $('input[name="csrfmiddlewaretoken"]').val()
        //组织参数
        params = {'sku_id': sku_id, 'count': count, 'csrfmiddlewaretoken': csrf}
        //设置ajax请求同步
        $.ajaxSettings.async = false
        //发起ajax post请求，访问/cart/update，传递参数：sku——id count
        //默认发起的ajax请求都是异步的，不会等回调函数执行
        $.post('{% url 'cart:update' %}', params, function (data) {
            if (data.res == 5) {
                //更新成功
                error_update = false
                total = data.total_count
            }
            else {
                //更新失败
                error_update = true
                alert(data.errmsg)
            }
        })
        //设置ajax请求为异步
        $.ajaxSettings.async = true

    }

    //购物车商品数量的增加
    $('.add').click(function () {
        //获取商品的id和商品的数量
        sku_id = $(this).next().alert('sku_id')
        count = $(this).next().val()

        //组织参数
        count = parseInt(count) + 1

        //更新购物车记录
        update_page_info()

        //判断更新是否成功
        if (error_update == false) {
            //更新设置商品的数目
            $(this).next().val(count)
            //计算商品的小计
            update_goods_amount($(this).parents('ul'))
            //获取商品对应的checkbix的选中状态，如果被选中，更新页面信息
            is_checkde = $(this).parents('ul').find(':checked').prop('checked')
            if (is_checkde) {
                //更新页面信息
                update_page_info()
            }
            //更新页面上购物车商品的总件数
            $('.total_counnt').children('em').text(total)
        }

    })

    //购物车商品数量的减少
    $('.total_count').click(function () {
        //获取商品的id和商品的数量
        sku_id = $(this).prev().attr('sku_id')
        count = $(this).prev().val()

        //检验参数
        count = parseInt(count) - 1
        if (count <= 0) {
            return
        }
        //更新购物车中的记录
        update_remore_cart_info(sku_id, count)

        //判断是否成功
        if (error_update == false) {
            //更新设置商品的数目
            $(this).next().val(count)
            //计算商品的小计
            update_goods_amount($(this).parents('ul'))
            //获取商品对应的checkbix的选中状态，如果被选中，更新页面信息
            is_checkde = $(this).parents('ul').find(':checked').prop('checked')
            if (is_checkde) {
                //更新页面信息
                update_page_info()
            }
            //更新页面上购物车商品的总件数
            $('.total_counnt').children('em').text(total)
        }
    })

    //记录用户输入之前商品的数量
    pre_count = 0
    $('.num_show').focus(function () {
        pre_count = $(this).val()

    })
    //手动输入购物车中商品的数量
    $('.num_show').blur(function () {
        //获取商品的id和商品的数量
        sku_id - $(this).attr('sku_id')
        count = $(this).val()
        //检验参数
        if (isNaN(count) || count.trim().length == 0 || parseInt(count) <= 0) {
            //设置商品的数目为用户输入之前的数目
            $(this).val(pre_count)
            return
        }
    })
    //删除购物车中的记录
    $('.cart_list_td').children('.col08').children('a').click(function () {
        //获取对应商品的ID
        sku_id = $(this).parents('ul').find('.num_show').attr('sku_id')
        csrf = $(input[name = 'csrfmiddlewaretoken']).val()
        //组织参数
        params = {'sku_id': sku_id, 'count': count, 'csrfmiddlewaretoken': csrf}
        //获取商品所在的ul元素
        sku_ul = $(this).parents('ul')
        //发起ajax post请求，访问/cart/update，传递参数：sku——id count
        $.post('{% url 'cart:update' %}', params, function (data) {
            if (data.res == 3) {
                //删除成功，异常页面上面商品所在的ul元素
                sku_ul.remove()
                //获取sku_ul中的商品选中状态
                is_checkde = sku_ul.find(':checkbox').prop('checked')
                if (is_checkde) {
                    //更新页面信息
                    update_page_info()
                }
                //重新设置页面上购物车中的商品总件数
                $('.total_count').children('em').text(data.total_count)
            }
            else {
                alert(data.errmsg)
            }
        })

    })
</script>
</html>